// Colors

$primary-dark: hsl(243, 87%, 12%);  // Very Dark Blue
$primary-light: hsl(238, 22%, 44%); // Desaturated Blue
$accent-blue: hsl(224, 93%, 58%); // Bright Blue
$accent-cyan: hsl(170, 45%, 43%); // Moderate Cyan
$neutral-light: hsl(240, 75%, 98%); // Light Grayish Blue
$neutral-gray: hsl(0, 0%, 75%); // Light Gray


// typography

$font-header: 'Raleway', sans-serif;   // Headings, Call-to-actions, Header Navigation, Weights: 400, 700

$font-body: 'Open Sans', sans-serif; // body, Weights: 400

