.container-sign {
  background: $primary-light;
  color: #fff;
  
  @include screen-m {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    padding: 3.5rem;
  }  

  p {
    padding: 1rem 1.5rem;

    @include screen-m {
      padding: 0;
    }
  }  

  .sign-form {  
    margin-top: 2rem;

    @include screen-m {
      margin: 0 auto;
      padding: 4rem;
    
    }

    input {
      @include input;
      width: 80%;
      margin: 0 0 .5rem 0;

      @include screen-m {
        width: 150%;
      }
    }

    .btn {
      @include btn;
      width: 80%;

      @include screen-m {
        width: 60%;
      }
    }  
  }
}