.container-sign {
  background: $primary-light;
  color: #fff;
  
  @include screen-m {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    padding: 2rem;
  }  

  p {
    padding: 1rem 1.5rem;

    @include screen-m {
      padding: 0;
    }
  }  

  .sign-form {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 0 3rem 0;

    @include screen-m {
      justify-content: left;  
      padding: 3rem;    
    }

    input {
      @include input;
      width: 80%;
      margin: .5rem auto;

      @include screen-m {
        width: 100%;
        max-width: 600px; 
        margin: 0 0 .5rem 0;     
      }
    }

    .btn {
      @include btn;
      width: 80%;  
      
      @include screen-m {
        margin: 0;
      }  
    }  
  }
}