body {
  font-size: .9rem;

  @include screen-m {
    font-size: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2rem;
}

h1 {
  padding: 1.5rem 0;
  font-size: 1.8rem;

  @include screen-m {
    font-size: 2rem;
  }
}

h2 {
  padding: 1.5rem 0;
  font-size: 1.6rem;

  @include screen-m {
    font-size: 1.8rem;
  }
}

a {
  text-decoration: none;
}

li {
  display: inline-block;

  a {
    color: #000;
    padding: 0 .5rem;
    font-size: .8rem;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
   
  @include screen-m {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .col {
    padding: 1rem;

    .illustration {
      padding-top: 3rem;
      max-width: 80%;  

      @include screen-m {
        padding-top: 1rem;
        padding-left: 2rem;
        max-width: 90%;
      }
    }
  }
}


