@mixin input {
  padding: 1rem;
  max-width: 350px;
  width: 100%;
  border: 1px solid #000; 
  border-radius: 5px;  
}

@mixin btn {
  font-family: $font-header;
  font-weight: 700;
  color: $neutral-light;
  background-color: $accent-blue;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 auto;
  max-width: 350px;
  width: 100%;
}

@mixin screen-m {
  @media (min-width: 850px) {
    @content;
  }
}

@mixin screen-l {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width: 1440px) {
    @content;
  }
}


